/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/code/run/var
code/run/var
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/code/run/var
code/run/var
run/var